<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="UTF-8">
		<title>Aceptase Mascotas! - Mis Anuncios</title>
		<link rel="stylesheet" href="/css/global.css">
		<link rel="stylesheet" href="/css/menu.css">
		<link rel="stylesheet" href="/css/misanuncios.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
		<link rel="shortcut icon" type="image" href="/img/icon-pet-paw.svg">
		
	</head>
	<body>
		<div class="container">
			<div class="back">
				<header class="header">
					<a id="index" href="index.html" class="title">Aceptase Mascotas</a>
					<nav>
						<ul class="navs">
							<li id='Anuncie'class="options border_options"><a href="nuevoanuncio.html">Anucie aqui</a></li>
							<li id='Mis anuncios'class="options border_options"><a href="#">Mis anuncios</a></li>
							<li id="Favoritos" class="options border_options"><a href="">Favoritos</a></li>
							<li id="logout-btn" style="display: none;" class="options border_options"><a href="#" onclick="logout()">Cerrar sesión</a></li>
						</ul>
					</nav>
				</header>
				<div class="total">
					<div><h2 class="title1">Mis anuncios</h2>
						<div class="container_info">
							<div class="Resultado">
								<% Resultado.forEach(function(anuncio) { %>
								  <div class="info">
									  <section class="container_slidephotos">
										  <ul class="photos">
											<% anuncio.files.forEach(function(file, index) { %>
											  <li class="photo" <% if (index === 0) { %>photo-active<% } %>>
												<img src="/uploads/<%= file.filename %>" alt="<%= file.originalname %>">
											  </li>
											<% }); %>
										  </ul>
										  <button class="previous_btn" photo-change-slide-button="previous">&lt;</button>
										  <button class="next_btn" photo-change-slide-button="next">&gt;</button>
									  </section>
									<div class="description">
									  <h3 class="anuncioCiudad"><%= anuncio.Tipo %> en <%= anuncio.Ciudad %></h3>
									  <h3 class="price"><%= anuncio.Precio %> €/mes</h3>
									  <h3 class="size"><span class="material-symbols-outlined input_svg">resize</span><%= anuncio.Area %>m²</h3>
									  <p class="zona"><%= anuncio.Descripcion %></p>
									  <span class="material-symbols-outlined input_svg position_bed">bed</span>
									  <p class="beds"><%= anuncio.NumeroHab %> habitaciones</p>
									  <span class="material-symbols-outlined input_svg position_bathroom">shower</span>
									  <p class="bathrooms"><%= anuncio.NumeroBan %> baños</p>
									  <button class="EliminarAnuncio" data-id="<%= anuncio._id %>">X Borrar Anuncio</button>
									</div>
								  </div>
								<% }); %>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div><footer class="container_footer"><p>© copyright 2024 - Aceptase Mascotas!</p></footer>
		<script>
			const allChangePhotoButtons = document.querySelectorAll("[photo-change-slide-button]");

			allChangePhotoButtons.forEach(button => {
				button.addEventListener("click", () => {
					const photos = button.closest(".info").querySelector(".photos");
					const activePhoto = photos.querySelector("[photo-active]");
					const indexActivePhoto = Array.from(photos.children).indexOf(activePhoto);
					let indexNewActivePhoto;

					if (button.getAttribute("photo-change-slide-button") === "next") {
						indexNewActivePhoto = indexActivePhoto + 1;
					} else {
						indexNewActivePhoto = indexActivePhoto - 1;
					}
					if (indexNewActivePhoto >= photos.children.length) {
						indexNewActivePhoto = 0;
					}
					if (indexNewActivePhoto < 0) {
						indexNewActivePhoto = photos.children.length - 1;
					}
					activePhoto.removeAttribute("photo-active");
					photos.children[indexNewActivePhoto].setAttribute("photo-active", "true");
				});
			});

			document.addEventListener('DOMContentLoaded', function() {
			const token = localStorage.getItem('token');
			console.log('Token',token);
			if (token) {
				// Si hay un token en el almacenamiento local, el usuario está logeado
				document.getElementById('logout-btn').style.display = 'inline-block'; // Mostrar el botón de cerrar sesión
				document.getElementById('Anuncie').style.display = 'inline-block';
				document.getElementById('Mis anuncios').style.display = 'inline-block';
				document.getElementById('Favoritos').style.display = 'none';
			} else {
				// Si no hay token en el almacenamiento local, el usuario no está logeado
				document.getElementById('logout-btn').style.display = 'none'; // Ocultar el botón de cerrar sesión
				document.getElementById('Anuncie').style.display = 'none';
				document.getElementById('Mis anuncios').style.display = 'none';
				document.getElementById('Favoritos').style.display = 'none';
			}
			document.querySelectorAll('.EliminarAnuncio').forEach(button => {
                console.log('DOM fully loaded and parsed');
                button.addEventListener('click', async function(event) {
                    const _id = event.target.getAttribute('data-id');
                    console.log('_id', _id); // Verifica que el ID se está leyendo correctamente
                    try {
                        const response = await fetch('/Anuncio/EliminarAnuncio', {
                            method: 'DELETE',
                            body: JSON.stringify({ _id: _id }),
                            headers: {
                                'Content-Type': 'application/json'
                            },    
                        });

                        if (!response.ok) {
                            throw new Error('Error al eliminar el anuncio');
                        }

                        const result = await response.json();
                        console.log(result);
                        alert(result.mensaje); // Mostrar mensaje de éxito

                        // Opcional: eliminar el anuncio de la interfaz después de eliminarlo en el servidor
                        if (result.mensaje === 'Anuncio eliminado correctamente') {
                            event.target.closest('.info').remove();
                        }
                    } catch (error) {
                        console.error('Error:', error);
                        alert('Error al eliminar el anuncio');
                    }
                });
            });
        });
		function logout() {
			// Eliminar la información del usuario del almacenamiento local
			localStorage.removeItem('token');
			// Redirigir al usuario a la página de inicio de sesión
			window.location.href = 'login.html';
		}


		function redirect(target) {
			event.preventDefault(); 
			window.location.href = target;
		}

		document.getElementById('index').addEventListener('click', function() {
			redirect('../index.html');
		});

		document.getElementById('Anuncie').addEventListener('click', function() {
			redirect('../nuevoanuncio.html');
		});
		document.getElementById('logout-btn').addEventListener('click', function() {
			redirect('../login.html');
		});
		document.getElementById('login-btn').addEventListener('click', function() {
			redirect('../login.html');
		});
		
		</script>	
	</body>

</html>